.page {
  background-color: rgba(42, 44, 47, 1);
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
